/* This is a style sheet. It's where you will place all the code you use for visual formatting in the future */

#futureExample {
    border: 10px solid rgb(220, 235, 245);
    width: 500px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: inset -5px 5px 10px grey;
    background-color: rgb(247, 245, 245);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:rgb(200, 53, 53);
}